<h1> please sign in</h1>

<form action="<%=session_url%>" method="POST">
<label> USERNAME
	<input type="text" name="user[username]" value="">
</label>
<br>
<label> PASSWORD
	<input type="password" name="user[password]" value="">
</label>
<br>
<input type="submit">
</form>

