<h2> add a new band to our database:</h2>

<form action="<%=bands_url%>" method="POST">
<label> BAND NAME
<input type="text" name="band[name]" value="">
</label>
<%=auth_tokin%>
<input type="submit">
</form>
